.is-hidden {
  display: none;
}

#success-container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#animacionExito{
  width: auto;
  height: 50px;
}

.diaconocordinador__loader {
  display: none;
}

.discipulos__loader {
  display: none;
}


